.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 6, 16, 0.5), rgba(4, 6, 16, 0.5)), url("../images/leaves.webp");
    background-position: center;
    background-size: cover;
}

.heroHeaderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroHeaderContainer p {
    font-family: 'oswald', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--mainWhite);
    letter-spacing: 4px;
}

.heroHeaderContainer div {
    display: flex;
    align-items: center;
    gap: 55px;

    & svg {
        cursor: pointer;
    }
}

.heroTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heroTitle {
    text-align: center;
    color: var(--mainWhite);
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 7rem;
    font-family: 'bebas', sans-serif;
    letter-spacing: 4px;
    height: 146px;
}

.heroSubtitle {
    text-align: center;
    color: var(--mainWhite);
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'yanone', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.7rem;
}

.heroButton {
    padding: 15px 40px;
    border: 2px solid var(--mainWhite);
    color: var(--mainWhite);
    font-family: 'oswald', sans-serif;
    font-size: 1rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--mainWhite);
        color: var(--mainBlack);
    }
}

section {
    padding: 60px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1500px;
    margin: auto;
    background-color: var(--mainWhite);
    position: relative;
    color: var(--mainBlack);
}

/* SECTION SIDE */

.sectionSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    font-family: 'bebas', sans-serif;
    font-size: 3rem;
    width: 160px;
    color: var(--mainLightGreen);
    opacity: 0.5;

    & .barSide {
        border: 2px solid var(--mainDarkGreen);
        height: 200px;
        width: 0;
    }
}

.titleSide {
    transform: rotate(270deg);
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.46rem;
    font-family: 'yanone', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    background-color: var(--mainWhite);
    padding: 0 30px;
    letter-spacing: 0.4rem;
}

/* ABOUT ==================================================================== */

.aboutMeSection {
    & img {
        width: 400px;
        margin-right: 50px;
    }
}

.aboutMeText {
    margin-right: 60px;

    & h2 {
        font-family: 'bebas', sans-serif;
        color: var(--mainDarkGreen);
        font-size: 2.5rem;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    & .titleBar {
        width: 60px;
        border: 4px solid var(--mainDarkGreen);
        height: 0;
        margin-bottom: 20px;
    }

    & p {
        font-family: 'oswald', sans-serif;
        font-weight: 360;
        font-size: 16px;
        line-height: 2;
        color: gray;
    }
}

.aboutMeButtonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.aboutMeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    transition: all 0.3s ease;

    & p {
        color: var(--mainDarkGreen);
        text-decoration: underline;
    }

    & svg {
        margin-top: 3px;
    }
}

/* SERVICES ================================================================= */

.servicesSection {
    flex-direction: column;
    padding: 80px 0;
    gap: 60px;
}

.titleServiceSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    padding-inline: 40px;
    justify-content: center;

    & div {
        display: flex;
        align-items: center;
        gap: 5px;

        & .bar {
            width: 40px;
            border: 2px solid var(--mainDarkGreen);
            height: 0;
        }

        & p {
            font-family: 'oswald', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--mainDarkGreen);
        }
    }

    & h1 {
        font-family: 'bebas', sans-serif;
        font-size: 3.7rem;
        color: var(--mainDarkGreen);
    }
}

.servicesContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 85%;
    gap: 30px
}

.serviceCard {
    border: 1px solid var(--mainDarkGreen);
}

.serviceCard .serviceCardBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}