.serviceCard {
    border: 2px solid var(--mainDarkGreen);
    padding: 2rem;
    cursor: pointer;

    & img {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
    }
}

.serviceCard .serviceCardFront {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    & h2 {
        font-family: 'bebas', sans-serif;
        color: var(--mainDarkGreen);
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    & span {
        font-family: 'oswald', sans-serif;
        font-weight: 360;
        font-size: 14px;
        line-height: 1.5;
        color: var(--mainDarkGray);
    }
}

.serviceCard .serviceCardBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}