@font-face {
    font-family: 'oswald';
    src: url('./fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'bebas';
    src: url('./fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'yanone';
    src: url('./fonts/YanoneKaffeesatz-VariableFont_wght.ttf');
}

:root {
  --mainBlack: #131314;
  --mainWhite: #ebebeb;
  --mainLightGray: #b4b4b4;
  --mainDarkGray: #40444d;
  --mainDarkGreen: #0d3324;
  --mainLightGreen: #2b6d52;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
body {
    background-color: var(--mainWhite);
    color: var(--mainWhite);
    font-family:'bebas';
    font-size: 16px;
}
.content {
    width: 100%;
    margin:auto;
}
